doctype html

html(lang="en")
head
	title  Overall
body
	h1 Overall Data
p The most revised article is #{mostRevisedArticle}
p The least revised article is #{leastRevisedArticle}
p The article edited by the most number of users is #{articleWithLargestGroupOfUsers}
p The article edited by the least number of users is #{articleWithSmallestGroupOfUsers}
p The longest history article is #{longestHistoryArticle}
p The shortest history revised article is #{shortestHistoryArticle}