doctype html

html(lang="en")
head
	title  Revision
	link(rel='stylesheet'
		 type='text/css'
		 href='/css/tablestyle.css'
		 media='screen')
body
	h2 Revision of #{title}
	table
		tr
			th Field Name
			th value
		
		tr
			td title
			td #{title}
		tr
			td Number of revisions
			td #{numOfRevisions}
	h3 top 5 users
	table
		tr
			th User
			th Num
		-for(var a of top5Users){
		tr
			th #{a.user}
			th #{a.count}
		-}