doctype html

html(lang="en")
head
	title  Revision
	link(rel='stylesheet'
		 type='text/css'
		 href='/css/tablestyle.css'
		 media='screen')
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="https://www.gstatic.com/charts/loader.js")
	script(src="js/showOne.js")
body
	h2 Revision of #{title}
	table
		tr
			th Field Name
			th value
		
		tr
			td title
			td #{title}
		tr
			td Number of revisions
			td #{numOfRevisions}
	h3 top 5 users
	table
		tr
			th User
			th Num
		-for(var a of top5Users){
		tr
			th #{a.user}
			th #{a.count}
		-}
	button(class=title, id="Pie") Pie
	|
	button(class=title, id="Bar") Bar
	|
	button(class=title, id="User") Single User
	div#myChart